//Oh hi, didn't expect you here. Visit https://github.com/Kudostoy0u/portfolio if you want to see the source code
doctype html
html(lang="en")
  head
    title #{results.title}
    include lib.pug
    <|toast.css|>
    <|post.min.css|>
  body
    include transition.pug
    div#image
    div.position-absolute#container
      div#background(data-url=results.imageUrl)

      h1.display-1.text-center.text-white.title #{results.title}
      h2.text-secondary#date #{results.date}
      span.go-back.h1(onclick="location.href='/blog'",aria-label="Back") &#x21A2;
      br 
      br
      .container
        .tui-editor-contents
          .content !{results.html}
    <|mouse.js|>
    <|post.min.js|>